:root {
	--dark: #333;
}

body {
	/* font-family: 'Courier New', Courier, monospace; */
	font-family: 'Source Code Pro', monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden; /* SEM BARRA DE ROLAGEM */
}

img {
	-webkit-user-drag: none; /*não arrastar as imagens*/
}

#centro {
	width: 80%;
	height: 75vh;
	margin: 0% 10% 0% 10%;
	padding-top: 35vh; 				/*MUDAR*/
	/* align-items: center; */
	/* justify-items: center; */
}

#form {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	margin-bottom: 2%;
	border-style: none;
	border-radius: 25px;
	text-align: center;
	box-shadow: 0 0 0 transparent;
	/* text-shadow: 0 0 10px black; */
}

#centro .row {
	width: 90%;
	margin-left: 5%;
	text-align: center;
}

.search-icon {
	height: 40px;
	margin: 5px;
}

.search-icon:hover {
	height: 45px;
	margin: 2.5px;
	cursor: pointer;
}

footer {
	color: white;
	text-align: center;
	font-size: 10px;
}

footer img {
	height: 5vh;
}

/* HIDDEN MENU STUFF */

.wrapper {
    position: relative;
	width: 100%;
	height: 100vh;
	background: var(--dark);
}

.canvas {
    width: 100%;
    height: 100vh;
    position: relative;
    transform: translate3d(0);
	transition: .8s ease all;
	
	background-image: url("../img/bg.jpg");
	background-attachment: fixed;
	background-position: 48% 0%;

	box-shadow: 0px 0px 10px black;
	z-index: 0;
}

.toggle-menu {
	margin: 10px;
	width: 30px;
}

.toggle-menu:hover {
	margin: 7.5px;
	width: 35px;
	cursor: pointer;
}

header .navbar {
	height: 75px;
	width: 100%;
	position: absolute;
	transform: translate3d(-350px, -75px, 0);
}

.menu {
	z-index: -1000;
    height: 100vh;
    position: absolute;
	transform: translate3d(-350px, -75px, 0);
    width: 330px;
    background: var(--dark);
	padding: 4px;
	margin-top: 75px;
	color: #777;
	/* overflow: auto; */
}

.wrapper.show-menu .canvas {
	transform: translate3d(350px, 75px, 0);
}

/* HEADER */

.navbar-expand-lg .navbar-nav .nav-link {
	margin-right: 2rem;
	margin-left: 2rem;
	cursor: pointer; 
}

.navbar-brand {
	/* background: white; */
	padding: 2px; 
	width: 50px;
}

/* ABAS LATERAIS */

.side-menu-item {
	background: #111;
	padding: 10px;
	margin: 0px 0px 13px 5px;
	border-radius: 5px;
	height: 40px;
	box-shadow: 0 0 10px black;
}

.side-menu-item h2{
	font-size: 14px;
	margin: auto;
}

.side-menu-item input {
	margin: auto;
}

.side-menu-item img {
	padding:auto;
	margin: auto;
}

/* CONFIGURAÇÔES */

#sidemenu1 a {
	text-decoration: none;
	color: white;
}

/* HISTÓRICO */

#sidemenu2 {
	padding: 0;
}

#sidemenu2 p {
	font-size: 14px;
	padding-left: 15px;
	margin-bottom: 10px;
	text-shadow: 0 0 5px black;
}

#sidemenu2 a {
	text-decoration: none;
	color: white;
}

/* SOBRE MIM */

#sidemenu3 {
	color: white;
	padding: 10px 20px 20px 35px;
}

#sidemenu3 .foto_lateral {
	width: 60%;
	margin-left: 20%;
	box-shadow: 0 0 10px black;
	border-radius: 100%;
}

#sidemenu3 h2 {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	margin: 20px 0 20px 0;
}

#sidemenu3 p {
	font-size: 14px;
	text-align: justify;
	letter-spacing: 1.4px;
}

#sidemenu3 .social img {
	width: 40px;
}

#sidemenu3 a {
	text-decoration: none;
	color: white;
}

/* CONTATO */

#sidemenu4 {
	color: white;
	padding: 10px 20px 20px 35px;
}

#sidemenu4 .foto_lateral {
	width: 40%;
	margin-left: 30%;
	box-shadow: 0 0 10px black;
	border-radius: 100%;
	margin-bottom: 25px;
}

#sidemenu4 input {
	width: 100%;
	box-shadow: 0 0 10px black;
	margin-top: 15px;	
}

#sidemenu4 textarea {
	height: 200px;
	box-shadow: 0 0 10px black;
	margin-top: 15px;
}

#sidemenu4 button {
	width: 50%;
	margin: 0 0 0 25%;
	color: white;
	background-color: #111;
	border-style: none;
	box-shadow: 0 0 10px black;
}

#sidemenu4 button:hover {
	width: 52%;
	margin: 0 0 0 24%;
	box-shadow: 0 0 5px black;
}